{% extends "layout.html" %}

{% block main %}
    {% block starting %}{% endblock %}
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-25" id="title" name="title" placeholder="Title" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-25" id="author" name="author" placeholder="Author" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-25" id="year" name="year" placeholder="Year" type="number">
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-25" id="rating" name="rating" placeholder="Rating (1 - 10)" type="number" min="1" max="10">
            </div>
            <div class="mb-3">
                <textarea autocomplete="off" autofocus class="form-control mx-auto w-25" id="note" name="note" placeholder="Note (Max 100 letters)" maxlength="100"></textarea>
            </div>
    {% block closing %}{% endblock %}
{% endblock %}